In [18]:
Title:

ERROR: Error in parse(text = x, srcfile = src): <text>:2:0: unexpected end of input
1: Title:
   ^

In [ ]:
Introduction:
Provide some relevant background information on the topic so that someone unfamiliar with it will be prepared to understand the rest of your proposal
Clearly state the question you will try to answer with your project
Identify and describe the dataset that will be used to answer the question

In [ ]:
Heart disease is an umbrella term for a vast range of conditions that affect the heart. Stroke, heart attack, cardiomyopathy, and angina are all 
examples of heart disease. Leading risk factors for heart disease are high blood pressure and cholesterol, obesity, unhealthy diet, and physical inactivity.
Based on a dataset from 1988 consisting of 4 databases, Cleveland, Hungary, Switzerland, and Long Beach V, heart disease could be predicted 
in a patient by looking at 14 attributes. Of these attributes, 5 will be observed in order to successfully determine the presence of heart disease
in a patient. The predictive question being asked is, "By considering -the five attributes-, can heart disease in a patient be predicted?". It is important 
to answer this question because heart disease is evidently fatal, and an early diagnosage increases the chances of recovery and/or 
survival. Though treatment varies based on the type and cause of the disease, changes in lifestyle habits can influence the presence of heart disease significantly.
Recognizing even a possibility of a heart disease early on is important for patients, and thus, this project will allow for that early recognition.

In [ ]:
Preliminary exploratory data analysis:


Demonstrate that the dataset can be read from the web into R 
Clean and wrangle your data into a tidy format
Using only training data, summarize the data in at least one table (this is exploratory data analysis). An example of a useful table could be one that reports the number of observations in each class, the means of the predictor variables you plan to use in your analysis and how many rows have missing data. 
Using only training data, visualize the data with at least one plot relevant to the analysis you plan to do (this is exploratory data analysis). An example of a useful visualization could be one that compares the distributions of each of the predictor variables you plan to use in your analysis.

In [4]:
library(tidyverse)
library(repr)
library(dplyr)
library(tidymodels)


heart_data <- read_csv("project_data/heart.csv")
slice(heart_data, 1:6)
  
heart_var <- heart_data |>
    select(age, sex, chol, cp, thal, target)
slice(heart_var, 1:6)

set.seed(3456)

heart_split <- initial_split(heart_var, prop = 0.60, strata = target)  
heart_train <- training(heart_split)   
heart_test <- testing(heart_split)

heart_train
heart_test

Rows: 1025 Columns: 14
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
dbl (14): age, sex, cp, trestbps, chol, fbs, restecg, thalach, exang, oldpea...

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

  age sex cp trestbps chol fbs restecg thalach exang oldpeak slope ca thal
1 52  1   0  125      212  0   1       168     0     1.0     2     2  3
2 53  1   0  140      203  1   0       155     1     3.1     0     0  3
3 70  1   0  145      174  0   1       125     1     2.6     0     0  3
4 61  1   0  148      203  0   1       161     0     0.0     2     1  3
5 62  0   0  138      294  1   1       106     0     1.9     1     3  2
6 58  0   0  100      248  0   0       122     0     1.0     1     0  2
  target
1 0
2 0
3 0
4 0
5 0
6 1

  age sex chol cp thal target
1 52  1   212  0  3    0
2 53  1   203  0  3    0
3 70  1   174  0  3    0
4 61  1   203  0  3    0
5 62  0   294  0  2    0
6 58  0   248  0  2    1

    age sex chol cp thal target
1   53  1   203  0  3    0
2   70  1   174  0  3    0
3   61  1   203  0  3    0
4   46  1   249  0  3    0
5   43  0   341  0  3    0
6   51  1   298  0  3    0
7   52  1   204  0  0    0
8   54  1   266  0  3    0
9   60  1   185  2  2    0
10  61  0   307  0  3    0
11  58  0   319  1  2    0
12  44  1   169  0  1    0
13  70  1   269  2  3    0
14  46  1   231  2  2    0
15  57  1   229  2  3    0
16  61  0   330  0  2    0
17  66  0   228  0  3    0
18  60  1   230  0  3    0
19  49  1   188  2  3    0
20  55  1   217  0  3    0
21  55  1   217  0  3    0
22  57  1   232  1  2    0
23  67  1   299  0  2    0
24  59  1   288  3  3    0
25  42  1   315  0  1    0
26  62  0   164  0  3    0
27  59  1   326  0  3    0
28  61  1   207  0  3    0
29  56  1   249  0  2    0
30  48  1   256  0  3    0
⋮   ⋮   ⋮   ⋮    ⋮  ⋮    ⋮
585 43  1   315  2  2    1
586 53  1   226  0  3    1
587 49  0   271  1  2    1
588 52  0   196  2  2    1
589 65  1   177  0  3    1
590 67  0   277  2  2    1
591 54  0   201  2  2    1
592 54  0   304  2  2    1
593 45  0   236  0  2    1
594 62  1   231  2  3    1
595 49  0   269  0  2    1
596 65  0   417  2  2    1
597 69  0   239  3  2    1
598 52  0   196  2  2    1
599 52  1   233  0  3    1
600 76  0   197  2  2    1
601 60  0   178  2  2    1
602 52  1   325  1  2    1
603 38  1   175  2  2    1
604 52  1   199  2  3    1
605 52  1   205  1  2    1
606 57  1   192  0  1    1
607 67  0   223  0  2    1
608 59  1   234  0  3    1
609 71  0   302  1  2    1
610 50  0   254  0  2    1
611 51  0   308  2  2    1
612 42  1   295  1  2    1
613 47  1   204  0  2    1
614 59  1   221  1  2    1

    age sex chol cp thal target
1   52  1   212  0  3    0
2   62  0   294  0  2    0
3   58  0   248  0  2    1
4   58  1   318  0  1    0
5   55  1   289  0  3    0
6   54  1   286  0  2    0
7   34  0   210  1  2    1
8   58  1   211  2  2    1
9   67  0   223  0  2    1
10  45  1   208  0  2    1
11  63  0   252  2  2    1
12  42  0   209  2  2    1
13  44  1   233  2  2    1
14  56  1   256  2  1    0
15  55  0   327  0  2    0
16  50  0   244  1  2    1
17  57  1   131  0  3    0
18  51  1   213  3  2    1
19  65  0   360  2  2    1
20  54  1   258  2  3    1
21  46  1   249  0  3    0
22  42  1   226  0  2    1
23  41  1   203  1  1    1
24  66  0   278  2  2    1
25  57  0   241  0  3    0
26  48  1   245  1  2    1
27  67  1   212  2  3    0
28  29  1   204  1  2    1
29  29  1   204  1  2    1
30  53  1   197  2  2    1
⋮   ⋮   ⋮   ⋮    ⋮  ⋮    ⋮
382 67  1   286  0  2    0
383 53  0   264  0  2    1
384 58  0   248  0  2    1
385 44  0   141  2  2    1
386 53  1   203  0  3    0
387 52  1   186  3  1    1
388 51  1   245  2  2    1
389 43  1   211  0  3    1
390 39  1   219  0  3    0
391 44  1   197  0  2    0
392 45  1   309  0  3    0
393 64  1   263  0  3    1
394 62  1   231  2  3    1
395 55  0   327  0  2    0
396 56  1   236  1  2    1
397 43  1   247  0  3    0
398 59  1   239  0  3    0
399 44  1   263  1  3    1
400 56  0   409  0  3    0
401 42  1   226  0  2    1
402 52  1   233  0  3    1
403 55  0   205  0  3    0
404 58  1   211  2  2    1
405 56  1   193  3  3    1
406 51  1   299  0  3    0
407 45  1   308  1  2    1
408 48  1   229  1  3    0
409 44  0   141  2  2    1
410 47  1   275  0  2    0
411 50  0   254  0  2    1

Methods:
Explain how you will conduct either your data analysis and which variables/columns you will use. 
Note - you do not need to use all variables/columns that exist in the raw data set. In fact, that's often not a good 
idea. For each variable think: is this a useful variable for prediction?
Describe at least one way that you will visualize the results

In [ ]:
To predict whether a patient has heart disease, a classifier needs to be taught and trained. This is to increase the accuracy
of the classifier. The data will be split into a training set and a testing set in order to build an efficient and accurate model
by first using only the training set. This will ensure that the test data does not influence the classifier model being trained.
Because the K-nearest neighbors classification algorithm will be used, the value of K to be used must be determined. Performing 
v-fold cross-validation will determine this. The K value that yields roughly the optimal accuracy, and the value that does not drastically 
change the estimated accuracy when decreasing or increasing K by a small amount will be the best option. Now, the K-nearest neighbors 
classifier object will be used to predict the class labels of the test set and predict whether there is a presence of heart disease in the 
patient. The patient will be evaluated with an integer value of 0 or 1 in the "target" field; 0 = no disease; 1 = disease.
The variables considered in the data analysis will be: ...

In [ ]:
Expected outcomes and significance:
What do you expect to find?
What impact could such findings have?
What future questions could this lead to?